<footer>
    <div class="main-padding-inline">
        <div class="row">
            <div class="col-4">
                <span class="d-flex align-items-center gap-4">
                    <a routerLink="/home" class="cursor-pointer">
                        <img src="assets/footer/logoCOP.png" alt="COP16 logo">
                    </a>
                    <img src="assets/navbar/logoUN.png" alt="UN logo">
                </span>
                <p class="footer-text mt-3 mb-5">
                    Lörem ipsum od ohet dilogi. Bell trabel, samuligt, ohöbel utom diska. Jinesade bel när feras
                    redorade
                    i belogi. FAR paratyp i muvåning, och pesask vyfisat. Viktiga poddradio har un mad och inde.
                </p>
                <div class="d-flex gap-3">
                    <div class="icon">
                        <img src="assets/footer/linkedin.png" alt="">
                    </div>
                    <div class="icon">
                        <img src="assets/footer/x.png" alt="">
                    </div>
                    <div class="icon">
                        <img src="assets/footer/youtub.png" alt="">
                    </div>
                    <div class="icon">
                        <img src="assets/footer/insta.png" alt="">
                    </div>
                    <div class="icon">
                        <img src="assets/footer/facebook.png" alt="">
                    </div>
                </div>
            </div>
            <div class="offset-1 col-2">
                <div class="pages-container">
                    <h2 class="mb-3">Pages</h2>
                    <ul class="d-flex flex-column gap-2">
                        <li class="page">About</li>
                        <li class="page">Saudi efforts</li>
                        <li class="page">Way to Riyadh</li>
                        <li class="page">Plan your trip</li>
                        <li class="page">Green zone</li>
                        <li class="page">Blue zone</li>
                        <li class="page">Exhibitors</li>
                    </ul>
                </div>
            </div>
            <div class="offset-1 col-4">
                <div class="location-container">
                    <h2 class="mb-3">Conference location</h2>
                    <div class="location">
                        <iframe class="h-100 w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5513.976799294317!2d46.668132650988206!3d24.712703455150344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03280e046f99%3A0x37737eab160a212!2sKingdom%20Centre%20Tower!5e0!3m2!1sen!2seg!4v1722437489201!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>