<section class="bg-white mb-5">
    <div class="main-padding-inline main-sec6">
        <div class="w-50 mb-3 way-header">
            <h1 class="mb-3">The way to Riyadh</h1>
            <p>Various events and debates will help build the momentum for consensus building, bold decisions, and hard commitments to be reached at CoP 16 in Riyadh. They include:</p>
        </div>
        <div class="details position-relative">
            <img src="assets/home/sec6/kindon-tower.png" alt="">
            <ul class="d-flex flex-column gap-4 justify-content-center align-items-center position-absolute w-100 h-100 top-0">
                <div class="way">
                    <h2 class="mb-3">KSA Side Event at the <a href="https://www.unccd.int/events/governing-bodies-meetings/unccd-committee-review-implementation-convention-cric21" target="_blank">UNCCD CRIC 2023</a></h2>
                    <p>UNCCD Committee for the Review of the Implementation of the Convention CRIC21</p>
                </div>
                <div class="way">
                    <h2 class="mb-3">KSA pavilion at <a href="https://www.cop28.com/en/" target="_blank">COP 28 in Dubai</a></h2>
                    <p>COP28 UAE brings the world together at a critical moment for global transformative climate action. To deliver on its ambitious agenda, COP28 will be inclusive, transparent, pragmatic, and results-oriented</p>
                </div>
                <div class="way">
                    <h2 class="mb-3">KSA Side Event in Davos at the <a href="https://www.weforum.org/events/world-economic-forum-annual-meeting-2024/" target="_blank">World Economic Forum 2024 </a></h2>
                    <p>The 54th Annual Meeting of the World Economic Forum will primarily focus on exploring the opportunities enabled by the new technologies and their implications on decision-making and global partnership.</p>
                </div>
            </ul>
        </div>
    </div>
</section>
