<div class="header d-flex flex-column position-relative">
    <video autoplay loop muted plays-inline class="back-video">
        <source src="assets/home/sec1/8301918-uhd_4096_2160_25fps.mp4" type="video/mp4">
    </video>
    <div class="remaining-height background-shade">
        <div class="custom-container central-header d-flex flex-column align-items-center">
            <div class="central-text text-center mb-3">
                <h3>2-13 December, 2024 / Saudi Arabia, Riyadh</h3>
                <h1 class="my-2">UNCCD COP 16, Riyadh</h1>
                <h2>Restore Land To Preserve Hope For All</h2>
            </div>
            <div class="my-5 position-relative">
                <button (click)="toggleRegistrationList()" class="btn register-btn d-flex align-items-center gap-3 px-3">
                    <span class="ps-2">Register</span>
                    <img class="regis-arrow" src="assets/home/sec1/iconamoon_arrow-down-2.svg">
                </button>
                <ul class="d-flex flex-column registration-list">
                    <li (click)="toggleRegistrationList()" class="registration-item m-3 mt-2 mb-0 cursor-pointer blue-zone d-flex justify-content-between align-items-center gap-2">
                        <span>Blue zone</span>
                        <img src="assets/home/sec1/right-arrow.svg" alt="">
                    </li>
                    <li (click)="toggleRegistrationList()" class="registration-item m-3 mb-2 mt-0 cursor-pointer d-flex justify-content-between align-items-center gap-2">
                        <span>Green zone</span>
                        <img src="assets/home/sec1/right-arrow.svg" alt="">
                    </li>
                </ul>
            </div>
            <div class="mt-3 d-flex justify-content-center align-items-center gap-3">
                <div class="timer-card">
                    <div class="p-3">
                        <h3>80</h3>
                        <p>Days</p>
                    </div>
                </div>
                <div class="timer-card">
                    <div class="p-3">
                        <h3>22</h3>
                        <p>Hrs</p>
                    </div>
                </div>
                <div class="timer-card">
                    <div class="p-3">
                        <h3>16</h3>
                        <p>Min.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom custom-container py-4 d-flex justify-content-between align-items-center">
        <p>86% of world population 6.8 Billion depends o... <span>Read more!</span></p>
        <div class="controller d-flex align-items-center gap-1">
            <span class="cursor-pointer prev-btn"><img src="assets/home/sec1/iconamoon_arrow-left-2-duotone.svg" alt=""></span>
            <span class="text-white">6/6</span>
            <span class="cursor-pointer next-btn"><img src="assets/home/sec1/iconamoon_arrow-right-2-duotone.svg" alt=""></span>
        </div>
    </div>
    <div class="msg-container">
        <div class="w-100 h-100 position-relative d-flex justify-content-center align-items-center">
            <img class="position-absolute" src="assets/home/sec1/msg.svg" alt="">
            <img class="position-absolute" src="assets/home/sec1/msg-in.svg" alt="">
        </div>
    </div>
</div>
