<section class="position-relative">
    <img class="back-img" src="assets/home/sec5/Saudi effort.png" alt="">
    <div class="main-padding-inline main-sec5">
        <h1 class="mb-3">Saudi Arabia Efforts</h1>
        <div class="efforts-main">
            <div class="efforts-container cont1 mb-5">
                <div class="row">
                    <div class="col-4">
                        <div class="effort">
                            <div class="img-container">
                                <img src="assets/home/sec5/effort1.jpeg" alt="">
                            </div>
                            <h3 class="mt-4 mb-2">G20 global land initiative</h3>
                            <p>
                                The G20 Global Initiative on Reducing Land Degradation and Enhancing Conservation of
                                Terrestrial Habitats which was launched in November 2020, at the Riyadh Summit of the
                                G20
                                leaders. The ambition of this Global Initiative is to prevent, halt and reverse land
                                degradation and
                                <span>
                                    reduce...
                                </span>
                                <span class="d-none">
                                    reduce lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo corporis animi
                                    provident esse aspernatur ipsam aut! Illum veritatis, vitae tempore, perferendis.
                                </span>
                                <span (click)="toggleText($event)" class="explore-more-btn">Explore more</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="effort">
                            <div class="img-container">
                                <img src="assets/home/sec5/effort2.jpeg" alt="">
                            </div>
                            <h3 class="mt-4 mb-2">Saudi greens initiative</h3>
                            <p>
                                Inaugurated in 2021, the Saudi Green Initiative (SGI) unites environmental protection,
                                energy transition and sustainability programs with the overarching aims of offsetting
                                and
                                reducing emissions, increasing the Kingdom’s use of clean energy and addressing climate
                                <span>
                                    chan...
                                </span>
                                <span class="d-none">
                                    change lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo corporis animi
                                    provident esse aspernatur ipsam aut! Illum veritatis, vitae tempore, perferendis.
                                </span>
                                <span (click)="toggleText($event)" class="explore-more-btn">Explore more</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="effort">
                            <div class="img-container">
                                <img src="assets/home/sec5/effort3.jpeg" alt="">
                            </div>
                            <h3 class="mt-4 mb-2">National Center for Vegetation Cover & Combating Desertification</h3>
                            <p>
                                The National Center for Vegetation Cover and Combating Desertification was established
                                in
                                2019 with the aim of increasing green areas to combat desertification and rehabilitating
                                degraded ecosystems. 
                                <span>
                                    N..
                                </span>
                                <span class="d-none">
                                    Need lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo corporis animi
                                    provident esse aspernatur ipsam aut! Illum veritatis, vitae tempore, perferendis.
                                </span>
                                <span (click)="toggleText($event)" class="explore-more-btn">Explore more</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="efforts-container cont2">
                <div class="row">
                    <div class="col-4">
                        <div class="effort">
                            <div class="img-container">
                                <img src="assets/home/sec5/effort4.png" alt="">
                            </div>
                            <h3 class="mt-4 mb-2">Middle East Green Initiative</h3>
                            <p>
                                The G20 Global Initiative on Reducing Land Degradation and Enhancing Conservation of
                                Terrestrial Habitats which was launched in November 2020, at the Riyadh Summit of the
                                G20
                                leaders. The ambition of this Global Initiative is to prevent, halt and reverse land
                                degradation and
                                <span>
                                    reduce...
                                </span>
                                <span class="d-none">
                                    reduce lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo corporis animi
                                    provident esse aspernatur ipsam aut! Illum veritatis, vitae tempore, perferendis.
                                </span>
                                <span (click)="toggleText($event)" class="explore-more-btn">Explore more</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="effort">
                            <div class="img-container">
                                <img src="assets/home/sec5/effort5.png" alt="">
                            </div>
                            <h3 class="mt-4 mb-2">EXPO 2030</h3>
                            <p>
                                Inaugurated in 2021, the Saudi Green Initiative (SGI) unites environmental protection,
                                energy transition and sustainability programs with the overarching aims of offsetting
                                and
                                reducing emissions, increasing the Kingdom’s use of clean energy and addressing climate
                                <span>
                                    chan...
                                </span>
                                <span class="d-none">
                                    change lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo corporis animi
                                    provident esse aspernatur ipsam aut! Illum veritatis, vitae tempore, perferendis.
                                </span>
                                <span (click)="toggleText($event)" class="explore-more-btn">Explore more</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="effort">
                            <div class="img-container">
                                <img src="assets/home/sec5/effort6.png" alt="">
                            </div>
                            <h3 class="mt-4 mb-2">Vision 2030</h3>
                            <p>
                                The National Center for Vegetation Cover and Combating Desertification was established
                                in
                                2019 with the aim of increasing green areas to combat desertification and rehabilitating
                                degraded ecosystems. 
                                <span>
                                    N..
                                </span>
                                <span class="d-none">
                                    Need lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo corporis animi
                                    provident esse aspernatur ipsam aut! Illum veritatis, vitae tempore, perferendis.
                                </span>
                                <span (click)="toggleText($event)" class="explore-more-btn">Explore more</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>