<div class="main-padding-inline main-sec3">
    <div class="row about-container">
        <div class="col-3 ps-0">
            <div class="d-flex flex-column gap-3">
                <div class="imgs-container small-imgs">
                    <img src="assets/home/sec3/img4.png" alt="">
                </div>
                <div class="imgs-container small-imgs">
                    <img src="assets/home/sec3/img3.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-3 pe -4">
            <div class="imgs-container large-img">
                <img src="assets/home/sec3/img1.png" alt="">
            </div>
        </div>
        <div class="col-6 ps-4 pe-0">
            <div class="text-container d-flex flex-column gap-3">
                <h2>About COP 16</h2>
                <h2 *ngIf="false">Legacy of cop 15</h2>
                <h2 *ngIf="false">UNCCD convention</h2>
                <p>UNCCD COP16 will unite leaders from governments, the private sector, civil society, and global
                    stakeholders to accelerate progress in sustainable land management. We'll explore the vital
                    connections between land and sustainability during high-level sessions, including a Heads of States
                    Summit and interactive dialogues.</p>

                <div class="radio-container d-flex align-items-center gap-2 pt-3">
                    <label>
                        <input type="radio" name="temp" id="radio1" checked>
                        <div class="custom-radio"></div>
                    </label>
                    <label>
                        <input type="radio" name="temp" id="radio2">
                        <div class="custom-radio"></div>
                    </label>
                    <label>
                        <input type="radio" name="temp" id="radio3">
                        <div class="custom-radio"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>