<h1 class="about-header main-padding-inline py-4 pb-5">About Saudi Arabia</h1>
<section [style.background-image]="'url('+'assets/home/sec7/'+ city.toLowerCase().replaceAll(' ', '-') +'.png'+')'">
    <div class="main-padding-inline main-sec7">
        <div class="city-header position-relative">
            <div [class.display-header]="city == 'Riyadh'" class="position-absolute head">
                <h2 class="mb-2">Riyadh</h2>
                <p>It is the largest city on the Arabian Peninsula, and is situated in the center of the an-Nafud
                    desert, on
                    the
                    eastern part of the Najd plateau</p>
            </div>
            <div [class.display-header]="city == 'Makkah'" class="position-absolute head">
                <h2 class="mb-2">Makkah</h2>
                <p>It is the largest city on the Arabian Peninsula, and is situated in the center of the an-Nafud
                    desert, on
                    the
                    eastern part of the Najd plateau</p>
            </div>
            <div [class.display-header]="city == 'Madinah'" class="position-absolute head">
                <h2 class="mb-2">Madinah</h2>
                <p>It is the largest city on the Arabian Peninsula, and is situated in the center of the an-Nafud
                    desert, on
                    the
                    eastern part of the Najd plateau</p>
            </div>
            <div [class.display-header]="city == 'Jeddah'" class="position-absolute head">
                <h2 class="mb-2">Jeddah</h2>
                <p>It is the largest city on the Arabian Peninsula, and is situated in the center of the an-Nafud
                    desert, on
                    the
                    eastern part of the Najd plateau</p>
            </div>
            <div [class.display-header]="city == 'Al Khobar'" class="position-absolute head">
                <h2 class="mb-2">Al Khobar</h2>
                <p>It is the largest city on the Arabian Peninsula, and is situated in the center of the an-Nafud
                    desert, on
                    the
                    eastern part of the Najd plateau</p>
            </div>
            <div [class.display-header]="city == 'Tabuk'" class="position-absolute head">
                <h2 class="mb-2">Tabuk</h2>
                <p>It is the largest city on the Arabian Peninsula, and is situated in the center of the an-Nafud
                    desert, on
                    the
                    eastern part of the Najd plateau</p>
            </div>
            <div [class.display-header]="city == 'Yanbu'" class="position-absolute head">
                <h2 class="mb-2">Yanbu</h2>
                <p>It is the largest city on the Arabian Peninsula, and is situated in the center of the an-Nafud
                    desert, on
                    the
                    eastern part of the Najd plateau</p>
            </div>
        </div>
        <div class="map position-relative">
            <div class="map-imgs position-relative">
                <img [class.display-img]="city == 'Riyadh'" class="position-absolute" src="assets/home/sec7/riyadh-map.png" alt="">
                <img [class.display-img]="city == 'Makkah'" class="position-absolute" src="assets/home/sec7/makkah-map.png" alt="">
                <img [class.display-img]="city == 'Madinah'" class="position-absolute" src="assets/home/sec7/madinah-map.png" alt="">
                <img [class.display-img]="city == 'Jeddah'" class="position-absolute" src="assets/home/sec7/jeddah-map.png" alt="">
                <img [class.display-img]="city == 'Al Khobar'" class="position-absolute" src="assets/home/sec7/al-khobar-map.png" alt="">
                <img [class.display-img]="city == 'Tabuk'" class="position-absolute" src="assets/home/sec7/tabuk-map.png" alt="">
                <img [class.display-img]="city == 'Yanbu'" class="position-absolute" src="assets/home/sec7/yanbu-map.png" alt="">
            </div>
            <div class="city-carousel d-flex align-items-center gap-4">
                <div (click)="rotate($event)" class="city city1 position-absolute"
                    [style.background-image]="'url('+'assets/home/sec7/riyadh.png'+')'">
                    <span>Riyadh</span>
                </div>
                <div (click)="rotate($event)" class="city city2 position-absolute"
                    [style.background-image]="'url('+'assets/home/sec7/makkah.png'+')'">
                    <span>Makkah</span>
                </div>
                <div (click)="rotate($event)" class="city city3 position-absolute"
                    [style.background-image]="'url('+'assets/home/sec7/madinah.png'+')'">
                    <span>Madinah</span>
                </div>
                <div (click)="rotate($event)" class="city city4 position-absolute"
                    [style.background-image]="'url('+'assets/home/sec7/jeddah.png'+')'">
                    <span>Jeddah</span>
                </div>
                <div (click)="rotate($event)" class="city city5 position-absolute"
                    [style.background-image]="'url('+'assets/home/sec7/al-khobar.png'+')'">
                    <span>Al Khobar</span>
                </div>
                <div (click)="rotate($event)" class="city city6 position-absolute"
                    [style.background-image]="'url('+'assets/home/sec7/tabuk.png'+')'">
                    <span>Tabuk</span>
                </div>
                <div (click)="rotate($event)" class="city city7 position-absolute"
                    [style.background-image]="'url('+'assets/home/sec7/yanbu.png'+')'">
                    <span>Yanbu</span>
                </div>
            </div>
        </div>
        <div class="statistics d-flex justify-content-between gap-4">
            <div class="stat-item">
                <h3>Annual rainfall average</h3>
                <p>Is 89 mm. Southern region receives monsoon rain from Indian ocean</p>
            </div>
            <div class="stat-item">
                <h3>Population of Saudi Arabia</h3>
                <p>34.2 Milion, 50% of Saudi population under 25 age</p>
            </div>
            <div class="stat-item">
                <h3>Land area</h3>
                <p>About 2.150.000 km2
                    830.000 sq mi</p>
            </div>
            <div class="stat-item">
                <h3>Maximum temperature range</h3>
                <p>Winter ( DEC to FEB ) : 20-30 c
                    Summer ( JUN to AUG ) : 35-45 c</p>
            </div>
        </div>
    </div>
</section>