<div class="custom-container main-sec8 position-relative d-flex justify-content-center align-items-center">
    <video autoplay loop muted plays-inline class="back-video">
        <source src="assets/home/sec1/8301918-uhd_4096_2160_25fps.mp4" type="video/mp4">
    </video>
    <h1>Discover more about Saudi Arabia</h1>
</div>
<div class="d-flex ">
    <div class="attraction position-relative">
        <img src="assets/home/sec8/Al-Masmak-Fort.png" alt="">
        <div class="light-box position-absolute top-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center gap-3">
            <p>Local attraction</p>
            <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
        </div>
    </div>
    <div class="attraction position-relative">
        <img src="assets/home/sec8/kingdom.png" alt="">
        <div class="light-box position-absolute top-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center gap-3">
            <p>Virual tour</p>
            <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
        </div>
    </div>
</div>