<div class="main-padding-inline main-sec4 d-flex justify-content-between align-items-center gap-5">
    <h2>Stay update with COP 16, Riyadh</h2>
    <div class="remaining-width d-flex flex-column align-items-end">
        <div class="temp">
            <label for="updatedEmail" class="sign-up-label">E-mail</label>
            <div class="d-flex">
                <input class="sign-up-inpt" type="text" id="updatedEmail">
                <span class="sign-up-btn">Sign up</span>
            </div>
        </div>
    </div>
</div>