<div class="main-padding-inline main-sec2 py-4 d-flex justify-content-center align-items-center gap-4">
    <div (click)="rotate($event)" class="motive-item item1">
        <h1>2</h1>
        <h3 class="my-2">Billion HA</h3>
        <h4>Land degraded</h4>
    </div>
    <div (click)="rotate($event)" class="motive-item item2">
        <h1>6</h1>
        <h3 class="my-2">Billion HA</h3>
        <h4>Degraded by 2050 without action</h4>
    </div>
    <div (click)="rotate($event)" class="motive-item item3">
        <h1>3.2</h1>
        <h3 class="my-2">Billion people</h3>
        <h4>Impacted by desertification</h4>
    </div>
    <div (click)="rotate($event)" class="motive-item item4">
        <h1>3</h1>
        <h3 class="my-2">Billion tons</h3>
        <h4>Carbon stored by restoring land</h4>
    </div>
    <div (click)="rotate($event)" class="motive-item item5">
        <h1>100</h1>
        <h3 class="my-2">Billion HA</h3>
        <h4>Droughts increased since 2020</h4>
    </div>
    <!-- <img src="assets/home/sec2/bg.svg" alt=""> -->
</div>